// Functions
@function repeat($val, $num: 1) {
  $out: "";
  @for $_ from 1 through $num {
    $out: #{$out $val};
  }
  @return $out;
}

// Mixins
@mixin rotate-on-hover {
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: rotate(-5deg) scale(1.1);
  }
}

@mixin custom-scrollbar {
  @supports (scrollbar-width: thin) {
    scrollbar-width: thin;
  }

  @supports not (scrollbar-width: thin) {
    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background: var(--bg-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-30);

      &:hover {
        background-color: var(--blue-50);
      }
    }
  }
}

@mixin pseudo-bold {
  -webkit-text-stroke-width: 1px;
}
