{
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "none",
  "plugins": ["./node_modules/prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}

